# **Importing Data**

In [ ]:
# !gdown --id 1S5_OlhERoxvRHh5jTffjPcykFGMO5UFk
# !gdown --id 1bMS5XK4JbfJo3NkMTHngBXtF5ldKpbfB
# !gdown --id 1wpWLUN-ATWn6-PnZ6CN-Kr4YC6j-8RdX #Monthly_Alloc

#Alloc_Jan 1l04EdxugtgruzkuOWdYZ24Vk7wBBIfzg 
#Alloc_Feb 1pWE2EC8XXCUtzQLUIZLWjLWR8Y1-lwex
#Alloc_Mar 1OFpn8DX-Wd-XlCtjql1LEtFUF_AoRBMU 
#Alloc_Apr 1mh_j2C8L9EWdDDXgPtwFsvVmmowUuvl5
#Alloc_May 1XPeGZRX4ROMbnAHI4012ymSJ-5FvuuRN
#Alloc_Jun 1i31IoEyIQxWzn6u8LmQFTz6WxLJ0H1pm
#Alloc_Jul 1bkZRDR9PGYM2cP87y96k_wFD1SvqY_jK
#Alloc_Aug 1rolqSD7lj4EVTwyW4LK1DHAolD6DMOpm
#Alloc_Sep 1KruzsSbyv0yyPHKlN8C6vLyOvs7FIzmO
#Alloc_Oct 1Be867mJp07Za3dAM9awzxPTUz5x9CaJL
#Alloc_Nov 1faYhUx9FtFlBL8J8EKfSBIlkWAT0piID
#Alloc_Dec 1rEyK-CgcIrwMYLye91PjEKIVaki6Ytgx

Downloading...
From: https://drive.google.com/uc?id=1l04EdxugtgruzkuOWdYZ24Vk7wBBIfzg
To: /content/Alloc_Jan.csv
141MB [00:00, 226MB/s]

In [1]:
!gdown --id 1KruzsSbyv0yyPHKlN8C6vLyOvs7FIzmO

Downloading...
From: https://drive.google.com/uc?id=1KruzsSbyv0yyPHKlN8C6vLyOvs7FIzmO
To: /content/Alloc_Sep.csv
163MB [00:01, 101MB/s]

# **Main**

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np


Alloc_in = pd.read_csv("Alloc_Jan.csv")
Alloc_in.shape

(24, 1100001)

In [ ]:
Alloc_in = Alloc_in.drop(Alloc_in.columns[[0]], axis=1)
Alloc_in

In [ ]:
allocInNumpy=np.array(Alloc_in)
#Alloc_in

In [ ]:
for i in range(1099999, 0, -1):
  if (allocInNumpy[0,i] > 0):
    j = i
    break
while(j%22 != 0):
  j = j+1
j

692516

In [ ]:
allocInNumpy = allocInNumpy[:,0:j]
print(allocInNumpy.shape)
k = int(j/22)

(24, 692516)

# **Thermal**

In [ ]:
temp2 = np.zeros((24,k))
for i in range(0,k):
    temp1 = np.sum(allocInNumpy[:,(i*22+10):(i*22+17)], axis = 1, keepdims = True)
    temp1 = temp1.reshape(24)
    temp2[:,i] = temp1

print(temp2)

[[1.46215  1.37387  1.36542  ... 1.41976  1.32904  1.36229 ]
 [1.32441  1.24445  1.23679  ... 1.28601  1.20384  1.23396 ]
 [1.26084  1.18471  1.17743  ... 1.22429  1.14606  1.17473 ]
 ...
 [1.8      1.76213  1.75129  ... 1.821    1.70464  1.495   ]
 [1.495    1.56302  1.55341  ... 1.61523  1.512024 1.495   ]
 [1.44096  1.35396  1.34563  ... 1.39918  1.30978  1.34255 ]]

In [ ]:
df = pd.DataFrame(temp2 )
df.to_csv('Jan_Thermal.csv')
df.shape

(24, 31478)

In [ ]:
y = []
for j in range(0,3):
  x = []
  for i in range(0,24):
    if (j == 0):
      x.append(np.percentile(temp2[i,:], 2.5))
    if (j == 1):
      x.append(np.mean(temp2[i,:]))
    if (j == 2):
      x.append(np.percentile(temp2[i,:], 97.5))
  y.append(x)
#print(y)
Jan = pd.DataFrame(y)  
print(Jan)    
# saving the dataframe  
Jan.to_csv('Jan_Therm_per.csv')

         0         1         2   ...        21        22        23
0  0.820000  0.820000  0.820000  ...  1.495000  1.373000  1.242761
1  1.365231  1.238484  1.179757  ...  1.694685  1.523643  1.348383
2  1.467561  1.329422  1.265611  ...  1.875269  1.660161  1.446412

[3 rows x 24 columns]

# **Hydro**

In [ ]:
temp2 = np.zeros((24,k))
for i in range(0,k):
    temp1 = allocInNumpy[:,(i*22+18)]
    temp1 = temp1.reshape(24)
    temp2[:,i] = temp1

In [ ]:
df = pd.DataFrame(temp2 )
df.to_csv('Jan_Hydro.csv')
df.shape

(24, 31478)

In [ ]:
y = []
for j in range(0,3):
  x = []
  for i in range(0,24):
    if (j == 0):
      x.append(np.percentile(temp2[i,:], 2.5))
    if (j == 1):
      x.append(np.mean(temp2[i,:]))
    if (j == 2):
      x.append(np.percentile(temp2[i,:], 97.5))
  y.append(x)
#print(y)
Jan = pd.DataFrame(y)  
print(Jan)    
# saving the dataframe  
Jan.to_csv('Feb_Hydro_per.csv')

         0         1         2   ...        21        22       23
0  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.00000
1  0.002941  0.003705  0.002549  ...  0.006261  0.008266  0.00325
2  0.000000  0.000000  0.000000  ...  0.000000  0.076573  0.00000

[3 rows x 24 columns]

# **Import**

In [ ]:
temp2 = np.zeros((24,k))
for i in range(0,k):
    temp1 = allocInNumpy[:,(i*22+21)]
    temp1 = temp1.reshape(24)
    temp2[:,i] = temp1

In [ ]:
df = pd.DataFrame(temp2 )
df.to_csv('Jan_Import.csv')
df.shape

(24, 31478)

In [ ]:
y = []
for j in range(0,3):
  x = []
  for i in range(0,24):
    if (j == 0):
      x.append(np.percentile(temp2[i,:], 2.5))
    if (j == 1):
      x.append(np.mean(temp2[i,:]))
    if (j == 2):
      x.append(np.percentile(temp2[i,:], 97.5))
  y.append(x)
#print(y)
Jan = pd.DataFrame(y)  
print(Jan)    
# saving the dataframe  
Jan.to_csv('Jan_Import_per.csv')

         0             1             2   ...        21        22        23
0  0.000000  0.000000e+00  0.000000e+00  ...  0.000000  0.000000  0.000000
1  0.020786  1.592604e-02  1.541883e-02  ...  0.080543  0.048282  0.017195
2  0.135694  2.220400e-16  2.220400e-16  ...  0.391611  0.212293  0.065360

[3 rows x 24 columns]

# **Extra**

In [ ]:
temp2 = np.zeros((5, 24))
for i in range(0,1):
  for j in range(1,5):
    if (j == 0):
      temp1 = np.sum(allocInNumpy[:,(i*22+3):(i*22+10)], axis = 1, keepdims = True)
      temp1 = temp1.reshape(1,24)
    elif (j == 1):
      temp1 = allocInNumpy[:,(i*22+17)]
    elif (j == 2):
      temp1 = allocInNumpy[:,(i*22+19) ]
    elif (j == 3):
      temp1 = allocInNumpy[:,(i*22+20)]
    temp2[i*j+j,:] = temp1

#print(temp2)
df = pd.DataFrame(temp2 )
df

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive