In [1]:
print(' hi \n'*5)

 hi
 hi
 hi
 hi
 hi

In [2]:
a=5

In [3]:
b=a+5

In [4]:
print(b)

10

In [5]:
len("Riya takli hai aur mundi bhi")

28

In [6]:
mystring = "Harikesh Verma"

In [7]:
mystring

'Harikesh Verma'

In [8]:
mystring[5]

'e'

In [9]:
mystring[-1]

'a'

In [10]:
mystring[-2]

'm'

In [11]:
mystring[:8]

'Harikesh'

In [12]:
mystring[9:]

'Verma'

In [13]:
mystring[3:5]

'ik'

In [14]:
mystring[8]

' '

In [15]:
mystring[::]

'Harikesh Verma'

In [16]:
mystring[::2]

'Hrks em'

In [17]:
mystring[::-1]

'amreV hsekiraH'

In [18]:
# mystring[0] = 'P'

In [19]:
last = mystring[1:]

In [20]:
last

'arikesh Verma'

In [21]:
last = 'K' + last

In [22]:
last

'Karikesh Verma'

In [23]:
letter = 'z'

In [24]:
letter * 10

'zzzzzzzzzz'

In [25]:
print( (letter + '\n') * 10)

z
z
z
z
z
z
z
z
z
z

In [26]:
print('My name is {1} not {0}'.format(mystring,last))

My name is Karikesh Verma not Harikesh Verma

In [27]:
print('Thermodynamics is {t} {t} and {b}'.format(t = 'tough', c = 'complicated', b = 'boring'))

Thermodynamics is tough tough and boring

In [28]:
result = 100/77

In [29]:
result

1.2987012987012987

In [30]:
print("The result was {r:00.4F}".format(r = result))

The result was 1.2987

In [31]:
name = "harikesh"

In [32]:
print(f"His name is {name}, not {last}")

His name is harikesh, not Karikesh Verma

In [33]:
age = 18
college = "IIT Bhubaneswar"

In [34]:
print (f"His name is {name} and age is {age} from {college}")

His name is harikesh and age is 18 from IIT Bhubaneswar

In [35]:
prices_lookup = {'apple' : 2.99, 'oranges' : 5, 'oil' : 3}

In [36]:
prices_lookup[apple]

NameError: name 'apple' is not defined

In [ ]:
prices_lookup['apple']

In [ ]:
prices_lookup = {1:2, 2:3, 3:4}

In [ ]:
prices_lookup[1]

In [ ]:
prices = {'k1':'riya', 'k2':[1,2,3],'k3':{'insidekey':100}}

In [ ]:
prices[k2]

In [ ]:
prices['k2'][2]

In [ ]:
prices['k3']

In [ ]:
prices['k3']['insidekey']

In [ ]:
d = {'key' : ['h','hari','r']}

In [ ]:
d[key]

In [ ]:
d['key']

In [ ]:
d['key'][0]

In [ ]:
print(d['key'][1].upper())

In [ ]:
d['k3'] = {'hari'}

In [ ]:
d

In [ ]:
d['k3'] = [1,2,3]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
print(d)

In [ ]:
print(d.values())

In [ ]:
w = (1,2,3)

In [ ]:
w

In [ ]:
t = ('one','two',3,4,5)

In [ ]:
t[-1]

In [ ]:
t[1]

In [ ]:
t[1:3]

In [ ]:
print(t[1:2])

In [ ]:
len(t)

In [ ]:
t.count(3)

In [ ]:
t.index(3)

In [ ]:
t[5] = 6

In [ ]:
set1 = set()

In [ ]:
set1.add(1)

In [ ]:
set1.add(1)

In [ ]:
set1

In [ ]:
print(set1)

In [ ]:
ny = [1,1,1,1,1,1,2,2,2,2,3,3,3,3]

In [ ]:
set2 = set()

In [ ]:
set2.add(3)

In [ ]:
set2

In [ ]:
set2 = set(list)

In [ ]:
set2 = set(ny)

In [ ]:
set2

In [ ]:
1 ==1

In [ ]:
1>2

In [ ]:
b = None

In [ ]:
type(b)

In [ ]:
b

In [37]:
%%writefile hari.txt
Hello this is a text file about digital logic and systems
This is a course by SES
It's about logic gates and circuits

Overwriting hari.txt

In [38]:
hari = open('hari.txt')

In [39]:
pwd

'C:\\Users\\harik\\OneDrive\\Documents\\Python'

In [40]:
hari.read

In [41]:
hari = open('hari.txt')

In [42]:
hari.read()

"Hello this is a text file about digital logic and systems\nThis is a course by SES\nIt's about logic gates and circuits\n"

In [43]:
hari.read()

''

In [44]:
hari.seek(5)

5

In [45]:
hari.read()

" this is a text file about digital logic and systems\nThis is a course by SES\nIt's about logic gates and circuits\n"

In [46]:
hari.seek(0)

0

In [47]:
print(hari.read())

Hello this is a text file about digital logic and systems
This is a course by SES
It's about logic gates and circuits

In [48]:
hari.seek(0)

0

In [49]:
hari.read()

"Hello this is a text file about digital logic and systems\nThis is a course by SES\nIt's about logic gates and circuits\n"

In [50]:
hari.seek(0)

0

In [51]:
print(hari.readlines())

['Hello this is a text file about digital logic and systems\n', 'This is a course by SES\n', "It's about logic gates and circuits\n"]

In [52]:
pwd

'C:\\Users\\harik\\OneDrive\\Documents\\Python'

In [53]:
name = open('C:\\Users\\harik\\OneDrive\\Documents\\Python\\hari.txt')

In [54]:
name.close()

In [55]:
with open('hari.txt', mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [56]:
contents

NameError: name 'contents' is not defined

In [57]:
%%writefile  new_file.txt
The Earth is not flat
Earth revolves around sun
Moon revolves around eart

Overwriting new_file.txt

In [58]:
with open('new_file.txt',mode = 'r') as r:
    con = r.read()

In [59]:
con

'The Earth is not flat\nEarth revolves around sun\nMoon revolves around eart\n'

In [60]:
with open('new_file', mode = 'a') as a:
    a.write('\nEarth has water')

In [61]:
with open('new_file.txt',mode = 'r') as a:
    print(a.read())

The Earth is not flat
Earth revolves around sun
Moon revolves around eart

In [62]:
%%writefile new_file.txt
Earth is not flat
Earth is a planet
Earth revolves around sun

Overwriting new_file.txt

In [63]:
with open('new_file.txt', mode = 'a') as a:
    a.write("Moon revolves around sun")

In [64]:
with open('new_file.txt', mode = 'r') as a:
    print(a.read())

Earth is not flat
Earth is a planet
Earth revolves around sun
Moon revolves around sun

In [65]:
with open('matlab.txt', mode = 'w') as w:
    w.write("We created it using jupyter notebook")

In [66]:
with open('matlab.txt', mode = 'r') as r:
    print(r.read())

We created it using jupyter notebook

In [67]:
2 == 2

True

In [68]:
'hello' == 'hello'

True

In [69]:
 3 != 3

False

In [70]:
3 != 2

True

In [71]:
1 < 2 && 2 < 3

SyntaxError: invalid syntax (<ipython-input-71-d203ce5cd4f3>, line 1)

In [72]:
'hello' > 'hari'

True

In [73]:
'Daddu' >  'Dada'

True

In [74]:
num = 0

In [75]:
if num in (0,4):
    print(num)
else :
    print(f'Number {num} not found')

0

In [76]:
if num == 1:
    print("True")
else:
    print("Not Found!")

Not Found!

In [77]:
loc = 'Bank'

In [78]:
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print('Money is cool!')
else:
    print("I don't know much")

Money is cool!

In [79]:
my = [1,2,3]

In [80]:
for item in my:
    print(item)

1
2
3

In [83]:
my_list = [1, 2,3,4,5,6,7,8,9,10];
j=1

In [84]:
for i in my_list:
    j = i*j
    print(j)

1
2
6
24
120
720
5040
40320
362880
3628800

In [1]:
import numpy as np

In [2]:
pos = np.linspace(1,10,1)